body {
    font-family: 'Muller Thin', 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 1920px;

      }
.container {
    width: 100%;
       }
.top {
    min-height: 1080px;
    background: rgb(238, 238, 188) url(../ForMate/img_for_Mate/TOP_fon.png);
}
.top__logo {
   margin-left: 190px;
   margin-bottom: 200px;
}
.uppercase {
    text-transform: uppercase;
}
.top__text h1{
    color: 44a09b;
    font-size: 30px;
    margin-left: 190px; 
    font-weight: bold;
}
.top__text__discription {
    width: 810px;
    color: black;
    font-size: 35px;
    margin-left: 190px;
    line-height: 60px; 
    text-transform: capitalize;
    }

.top__register {
    display: flex;
    flex-direction: column;
    width: 830px;
    height: 216px;
    background-color: white;
    border-radius: 0 100px 100px 0;
    margin-bottom: 80px;
}
.top__register__time {
    color: ff8141;
    font-size: 26px;
    margin: 40px 20px 20px 190px;
}
.button{
    width: 500px;
    height: 70px;
    background-color: ff8141;
    border-radius: 50px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    }
    .button:hover {
        opacity: 0.75;
    } 
.top__register__button {
    margin-left: 190px;
}
.top__register__scroll {
display: flex;
flex-direction: column;
}
.top__register__scroll-tittle {
text-align: center;
color: white;
font-size: 15px; 
margin-bottom: 12px;   
}
.top__register__scroll__btn {
    display: block;
    width: 60px;
    height: 40px;
    margin: 0 auto;
    border: 0;
    background: transparent;
    background-image: url(../ForMate/img_for_Mate/scroll_white.png);
    cursor: pointer;
}
.top__register__scroll__btn:hover{
    opacity: .5;
}
.content {
    display: flex;
    flex-direction: row;
    }
.content__left {
width: 65%;
min-height: 915px;
background-image: url(../ForMate/img_for_Mate/video_backggound.png);
margin-bottom: -33px;
}

.content__left__video-wrapper{
    position: relative;
}
.content__left__video-wrapper::before{
    content: "";
    position: absolute;
    width: 155px;
    height: 98px;
    background-image: url(../ForMate/img_for_Mate/SeeWhatThisWebinarIsAllAbout.png);
    right: 156px;
    bottom: 250px;
}
.content__left__video-wrapper::after{
    content: "";
    position: absolute;
    width: 135px;
    height: 126px;
    background-image: url(../ForMate/img_for_Mate/arrow.png);
    bottom: 330px;
    right: 356px; 
}
.content__right {
    width: 35%;
    background-color: white;
    padding: 130px 130px 110px 130px;
    }
.content__right__title {
    font-size: 30px;
    color: 3a4a62;
    padding-bottom: 45px;
    margin: 0;
    
}
.content__right__list{
    line-height: 25px;
}
.content__right__list li{
    position: relative;
    font-size: 16px;
    color: grey;
    list-style: none;
    line-height: 20px;
    padding-bottom: 20px;
}
.content__right__list li::before{
    content: "";
    position: absolute;
    width: 9px;
    height: 15px;
    background-image: url(../ForMate/img_for_Mate/_.png); 
    left: -40px;
}
.content__right p{
    position: relative;
    padding-left: 40px;
    padding-bottom: 60px;
}
.content__right p::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 18px;
    background-image: url(../ForMate/img_for_Mate/heart.png);
    left: -2px;
}
.footer {
    background-color: 273d50;
}
.footer__title {
    color: white;
    font-size: 40px;
    padding-top: 90px;
    padding-bottom: 65px;
    text-align: center;
}
@font-face {
    font-family: 'Muller Thin';
    src: url(../ForMate/fonts/MullerThinDEMO.eot);
    src: url('MullerThinDEMO.eot?#iefix') format('embedded-opentype'),
    url(../ForMate/fonts/MullerThinDEMO.woff) format('woff'),
    url(../ForMate/fonts/MullerThinDEMO.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    }
